.Button {
  background: rgba(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 25px;
  white-space: nowrap;
}

.Button_POSITIVE {
  background: rgba(100, 201, 100);
  color: #fff;
}

.Button_NEGATIVE {
  background: rgba(253, 86, 95);
  color: #fff;
}