.DiaryList .menu_bar {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.DiaryList .menu_bar select {
  background: rgba(236, 236, 236);
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
}
.DiaryList .menu_bar button {
  flex: 1;
}