.Editor > section {
  margin: 20px 0 0 0;
}

.Editor > section > h4{
  font-size: 30px;  
  font-weight: bold;
  margin:  0 0 10px 0;

}

.Editor > section > input,
.Editor > section > textarea {
  background: rgba(236, 236, 236);
  border: none;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px 20px;
}

.Editor > section > textarea {
  padding: 20px;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  box-sizing: border-box;
}

.Editor .emotion_section .emotion_list_wrapper{
  display: flex;
  justify-content: center ;
  gap: 2%;
}

.Editor .button_section {
  display: flex;
  justify-content: space-between;
}