.Viewer > section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
}

.Viewer section h4 {
  font-size: 22px;
  font-weight: bold;
}

.Viewer .emotion_img_wrapper {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-size: 25px;
}

.Viewer .emotion_img_wrapper_1 {
  background: rgba(100, 201, 100);

}
.Viewer .emotion_img_wrapper_2 {
  background: rgba(157, 215, 114);

}
.Viewer .emotion_img_wrapper_3 {
  background: rgba(253, 206, 23);

}
.Viewer .emotion_img_wrapper_4 {
  background: rgba(253, 132, 70);

}
.Viewer .emotion_img_wrapper_5 {
  background: rgba(253, 86, 95);

}

.Viewer .content_wrapper{
  width: 100%;
  background: rgba(236, 236, 236);
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.Viewer .content_wrapper > p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
}